.image{
   width: 100%;
   height: auto;
   height: 40em;
}
.boxes {
    width: fit-content;
}

#message {
    color: red;
    margin: 1em;
    padding: 1em;
    display: none;
}
.rooms {
    text-align: left;
    width: auto;
    display: inline-block;
    margin: 10px;
}
.kingBed {
    height: 25em;
    float: left;
    margin-top: 10px;
}
.twoBed {
    height: 25em;
    max-height: 25em;
    float: right;
    margin-top: 10px;
    width: 38em;
}
.container {
    margin: auto;
    width: 50%;
    padding: 10px;
    max-height: 25em;
}