.image{
   width: 100%;
   height: auto;
   height: 40em;
}
 .container p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    margin: 20px;
 }
 .card1 {
    margin: auto;
 }
 .card2 {
    margin: auto;
    height: 375px;
 }
 .card3 {
    margin: auto;
    height: 375px;
 }
 .footer-clean {
    margin: 10px;
 }